@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-arialgeo;
}


.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
